$blue: #4A90E2;
$yellow: #EFDE08;
$green: #7ED321;
$purple: #BD10E0;
$orange: #F96332;
$turquoise: #50E3C2;
$red: #F13950;

$base-font-size:    16;
$base-line-height:  28;

$tablet-up: 768px;
$desktop-up: 935px;
$almost-wide: 1070px;
$wide: 1180px;

@mixin font-size($sizeInPx: 16, $line: false) {
  @if unit($sizeInPx) == "px" {
    $sizeInPx: $sizeInPx / 1px;
  }
  @else if unit($sizeInPx) == "em" {
    @warn "Not a valid value: #{$value}";
  }
  font-size: ($sizeInPx) + px;
  font-size: ($sizeInPx / 16) + rem;

  @if( $line == true ) {
    $line: $sizeInPx * 1.66666667;
  }

  @if( $line != false ) {
    line-height: ($line) + px;
    line-height: ($line / 16) + rem;
  }
}

@mixin font-light--serif {
	font-family: "aw-conqueror-didot",serif;
	font-style: italic;
	font-weight: 300;
}

@mixin font-light {
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin font-regular {
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin font-bold {
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 700;
}

*,
*:after,
*:before { box-sizing: border-box; }

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,hr {
  margin-top: 0;
  margin-bottom:$base-line-height*1px;
  margin-bottom:($base-line-height/$base-font-size)*1rem;
}

h1,h2,h3,h4,h5,h6 {
 @include font-bold;
 text-transform: uppercase;
 letter-spacing: 2px;
}



html {
  background: #F2F2F2;
  color: #000;
  @include font-size(18px,true);
  @include font-light;
  position: relative;

  @media (max-width: 800px) {
    font-size: 87.5%;
    line-height: 1.5;
  }

}

.wrapper {
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.button {
	padding: 7px 25px;
	border: 1px solid transparent;
	border-radius: 100px;
	@include font-size(14px,true);
	@include font-regular;
	text-decoration: none;
  transition: all 0.3s;

  &:hover {
    background: none;
  }
}

.header {
  overflow: hidden;
  background: #F96332;
  text-align: center;
  padding: 10px;

  .home & {
  	background: #fff;
  }

  .the-hunter & { background: $blue; }
  .the-fisherman & { background: $orange; }
  .the-drinker & { background: $green; }
  .the-bullfighter & { background: $purple; }
  .the-lover & { background: $turquoise; }
  .the-papa & { background: $yellow; }

  nav {
    float: right;
    margin-top: 5px;
    @media (min-width: 800px) {
      margin-top: 0px;
      float: none;
      position: absolute;
      right: 0;
      margin-right: 20px;
    }

    a {
    	@extend .button;
    	border-color: #fff;
    	color: #fff;
    }
  }

  .home & nav a {
  	color: #D0021B;
  	border-color: #D0021B;
  }

	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

  .logo {
    @include font-light--serif;
    @include font-size(24px);
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    float: left;

    @media (min-width: 800px) {
      float: none;
      display: inline-block;
    }

    .home & {
      color: $red;
    }
  }
}

.submenu { display: none; }

.main {
  @extend .container;
  padding: 0 30px;

  .home & {
    max-width: none;
    margin: 0;
    padding: 0;
  }
}

.intro--hero {
  padding: 80px 0;
  margin: 0 0 80px;
  border: none;
  background: $red;
  color: #fff;


  @media (min-width: 800px) {
    margin: 0 0 200px;
  }

  .intro--hero__inner {
    margin: 0 30px;
    @media (min-width: 800px) {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  p:first-child {
    @include font-light--serif;
    @include font-size(44px);
    line-height: 1.2;

    @media (min-width: 800px) {
      @include font-size(84px);
      line-height: 1.2;
    }
  }

}

.intro {
  border: 1px solid #F96332;
  color: #F96332;
  position: relative;
  @include font-size(18px,true);
  font-style: italic;

  margin: 60px 0;
  padding: 40px;

  @media (min-width: 800px) {
    max-width: 430px;
    margin: 60px auto 140px;
    padding: 60px;
  }

	.the-hunter & { color: $blue; }
	.the-fisherman & { color: $orange; }
	.the-drinker & { color: $green; }
	.the-bullfighter & { color: $purple; }
	.the-lover & { color: $turquoise; }
	.the-papa & { color: $yellow; }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 20px;
    width: 100%;
    height: 100%;
    border: 1px solid #50E3C2;
  }

  &:after {
    top: 20px;
    left: -20px;
    border: 1px solid #BD10E0;
  }

  .home &:before,
  .home &:after, {
  	display: none;
  }
}

.teaser {
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.teaser-item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 60px;
  clear: both;
  text-align: center;

  @media (min-width: 800px) {
    display: block;
    text-align: left;
    float: left;
    width: 100%;

    &:nth-child(even){
        float: right;
    }
  }

  &.teaser-item--the-hunter { border-color: $blue; color: $blue; }
  &.teaser-item--the-fisherman { border-color: $orange; color: $orange; }
  &.teaser-item--the-drinker { border-color: $green; color: $green; }
  &.teaser-item--the-bullfighter { border-color: $purple; color: $purple; }
  &.teaser-item--the-lover { border-color: $turquoise; color: $turquoise; }
  &.teaser-item--the-papa { border-color: $yellow; color: $yellow; }

  hr {
    order: 1;
    box-shadow: none;
    border: 20px solid #000;
    border-color: inherit;

    @media (min-width: 800px) {
      border-width: 40px;
    }
  }

  &:nth-child(odd) hr { margin-right: 30%; margin-left: 0; }
  &:nth-child(even) hr { margin-left: 30%; margin-right: 0; }

  &:nth-child(1) hr { margin-right: 50%; }
  &:nth-child(3) hr { margin-right: 60%; }
  &:nth-child(4) hr { margin-left: 20%; }
}

.teaser-item__title {
  order: 2;
  padding: 0 30px;

  @media (min-width: 800px) {
    padding: 0;
    .teaser-item:nth-child(odd) & { margin-left: 10%; }
    .teaser-item:nth-child(even) & { margin-left: 50%; }
  }

  a {
    display: block;
    font-size: 36px;
    text-decoration: none;
    color: inherit;
  }
}

.teaser-item__box {
  order: 3;
  padding: 0 30px;

  @media (min-width: 800px) {
    paddgin: 0;
    max-width: 430px;
    .teaser-item:nth-child(odd) & { margin-left: 10%; }
    .teaser-item:nth-child(even) & { margin-left: 50%; }
  }

  .teaser-item__read-more {
    @extend .button;
    background: #fff;
    color: inherit;

    @media (min-width: 800px) {
      float: right;
    }

    &:hover {
      border-color: inherit;
    }
  }


}


.teaser-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.ernest {
  .main {
    padding-top: 80px;
  }
}

.ernest .text {
  overflow: hidden;
  position: relative;
  z-index: 2;

  figure {
    width: 100%;
    margin: 0 0 5px;

    img {
      width: 100%;
    }
  }

  @media (min-width: 800px) {
    h1 {
      margin-right: 30%;
      margin-left: 80px;
      line-height: 1.5;
    }

    figure {
      margin: 0 0 40px;
      // margin-left: -480px;
      float: left;
      max-width: 50%;

      img {
        width: 100%;
        height: auto;
      }
    }

    figure:nth-of-type(1){
      transform: translateX(40px);
      position: relative;
      z-index: 1;
    }

    figure:nth-of-type(2){
      float: right;
      transform: translateX(-10%) translateY(40px);
      margin-bottom: 140px;
    }

    figure:nth-of-type(3){
      margin-top: 120px;
      margin-right: 60px;
      clear: left;
    }

    p:nth-of-type(1){
      @include font-size(24px);
      line-height: 1.5;
      @include font-light;
      clear: right;
    }

    p {
      margin-right: 10%;
    }
  }
}

.template--ernest {
  .main {
    max-width: 460px;
    margin: 0 auto;
  }
}

.template--ernest .text {
	position: relative;
  padding-top: 350px;
  margin-bottom: 80px;

	h1 {
		text-align: center;
		.the-hunter & { color: $blue; }
		.the-fisherman & { color: $orange; }
		.the-drinker & { color: $green; }
		.the-bullfighter & { color: $purple; }
		.the-lover & { color: $turquoise; }
		.the-papa & { color: $yellow; }
	}

	.paragraphs {
    p:nth-of-type(1) {
      @include font-size(24px);
      line-height: 1.5;
      @include font-light;
    }
  }

	figure {
		margin: 0;
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);

		img {
			width: 200px;
			height: 200px;
			border-radius: 100%;
		}
	}
}

.link--prev,
.link--next {
	position: absolute;
	top: 250px;
	left: 40px;
	text-decoration: none;
	color: #aaa;
	font-size: 44px;
	opacity: 0.4;
  z-index: 2;

	&:hover {
		opacity: 1;
	}
}

.link--next {
	left: auto;
	right: 40px;
}

.footer {
  @include font-size(12px);
  color: #aaa;
	text-align: center;

  strong {
    color: $red;
    @include font-size(22px);
    line-height: 100%;
    vertical-align: middle;
  }
}

.paragraph-selector {
  margin: 0 0 40px;

  @media (min-width: 800px) {
    margin: 0 0 140px;
  }

  text-align: center;
  @include font-size(12px);

  p {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #aaa;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

  li {
    position: relative;
    top: 0;
    z-index: 10;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 8px;
    border-radius: 100%;
    border: 1px solid #000;
    cursor: pointer;
    font-weight: 500;

    @media (min-width: 800px) {
      margin: 0 15px;
      width: 50px;
      height: 50px;
      line-height: 50px;
    }

    .the-hunter & { border-color: $blue; color: $blue; }
    .the-fisherman & { border-color: $orange; color: $orange; }
    .the-drinker & { border-color: $green; color: $green; }
    .the-bullfighter & { border-color: $purple; color: $purple; }
    .the-lover & { border-color: $turquoise; color: $turquoise; }
    .the-papa & { border-color: $yellow; color: $yellow; }

    .the-hunter &.active { background: $blue; }
    .the-fisherman &.active { background: $orange; }
    .the-drinker &.active { background: $green; }
    .the-bullfighter &.active { background: $purple; }
    .the-lover &.active { background: $turquoise; }
    .the-papa &.active { background: $yellow; }

    &.active,
    &.active:hover {
      box-shadow: 0 23px 20px #ddd;
      color: #fff;
      top: -5px;
    }

    transition: all 0.3s;
    -webkit-transition: all 0.3s;

    &:hover {
      top: -5px;
      box-shadow: 0 23px 20px #e9e9e9;
    }

  }
}

[class^="image-shape"] {
  position: absolute;
  width: 50%;
  z-index: -1;

  .template--ernest & {
    display: none;
  }
}

[class$="--circle"] {
  top: 10%;
  right: -20%;
  width: 70%;
  z-index: 1;
}

[class$="--triangle"] {
  top: 40%;
  left: -20%;
  width: 75%;
}

[class$="--rectangle"] {
  width: 24%;
  bottom: 0%;
  right: 0%;
}
