$blue: #4A90E2;
$yellow: #F8E71C;
$green: #7ED321;
$purple: #BD10E0;
$red: #D0021B;
$turquoise: #50E3C2;

$base-font-size:    16;
$base-line-height:  28;

@mixin font-size($sizeInPx: 16, $line: false) {
  @if unit($sizeInPx) == "px" {
    $sizeInPx: $sizeInPx / 1px;
  }
  @else if unit($sizeInPx) == "em" {
    @warn "Not a valid value: #{$value}";
  }
  font-size: ($sizeInPx) + px;
  font-size: ($sizeInPx / 16) + rem;

  @if( $line == true ) {
    $line: $sizeInPx * 1.66666667;
  }

  @if( $line != false ) {
    line-height: ($line) + px;
    line-height: ($line / 16) + rem;
  }
}

@mixin font-light--serif {
	font-family: "aw-conqueror-didot",serif;
	font-style: italic;
	font-weight: 300;
}

@mixin font-light {
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin font-regular {
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin font-bold {
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 700;
}

*,
*:after,
*:before { box-sizing: border-box; }

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,hr {
  margin-top: 0;
  margin-bottom:$base-line-height*1px;
  margin-bottom:($base-line-height/$base-font-size)*1rem;
}

h1,h2,h3,h4,h5,h6 {
 @include font-bold;
 text-transform: uppercase;
 letter-spacing: 2px;
}



html {
  background: #F2F2F2;
  color: #000;
  @include font-size(18px,true);
  @include font-light;
}

.button {
	padding: 4px 20px 5px;
	border: 1px solid transparent;
	border-radius: 20px;
	@include font-size(14px,true);
	@include font-regular;
	text-decoration: none;

}

.header {
  background: #F96332;
  text-align: center;
  padding: 5px;

  .home & {
  	background: #fff;
  }

  .the-hunter & { background: $blue; }
  .the-fisherman & { background: $red; }
  .the-drinker & { background: $green; }
  .the-bullfighter & { background: $purple; }
  .the-lover & { background: $turquoise; }
  .the-papa & { background: $yellow; }

  nav {
    float: right;
    margin-right: 20px;
    margin-top: 8px;

    a {
    	@extend .button;
    	border-color: #fff;
    	color: #fff;
    }
  }

  .home & nav a {
  	color: #D0021B;
  	border-color: #D0021B;
  }

	.menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}

  .logo {
    display: inline-block;
  }
}

.submenu { display: none; }

.main {
  max-width: 1400px;
  margin: 0 auto;
}

.intro {
  border: 1px solid #F96332;
  color: #F96332;
  max-width: 430px;
  margin: 60px auto 140px;
  padding: 60px 60px 20px 20px;
  position: relative;
  @include font-size(18px,true);
  font-style: italic;

	.the-hunter & { color: $blue; }
	.the-fisherman & { color: $red; }
	.the-drinker & { color: $green; }
	.the-bullfighter & { color: $purple; }
	.the-lover & { color: $turquoise; }
	.the-papa & { color: $yellow; }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 20px;
    left: -20px;
    width: 100%;
    height: 100%;
    border: 1px solid #50E3C2;
  }

  &:after {
    top: 40px;
    left: -40px;
    border: 1px solid #BD10E0;
  }

	.home & {
		padding: 80px;
		margin: 0 0 200px;
		max-width: none;
		border: none;
		background: #D0021B;
		color: #fff;
		@include font-light--serif;
		@include font-size(84px);
		line-height: 1.2;
	}

  .home &:before,
  .home &:after, {
  	display: none;
  }
}



.teaser {
  overflow: hidden;
  list-style: none;
  padding: 0;
}

.teaser-item {
  float: left;
  width: 50%;
  position: relative;
  margin-bottom: 60px;

  &:nth-child(even) {
    margin-top: 40px;
  }

  &.teaser-item--the-hunter { border-color: $blue; color: $blue; }
  &.teaser-item--the-fisherman { border-color: $red; color: $red; }
  &.teaser-item--the-drinker { border-color: $green; color: $green; }
  &.teaser-item--the-bullfighter { border-color: $purple; color: $purple; }
  &.teaser-item--the-lover { border-color: $turquoise; color: $turquoise; }
  &.teaser-item--the-papa { border-color: $yellow; color: $yellow; }
}

.teaser-item__box {
  position: absolute;
  top: 120px;
  left: 40px;

  h3 a {
    font-size: 36px;
    text-decoration: none;
    color: inherit;
  }

  p {
    max-width: 430px;
    padding: 40px;
    border: 1px solid #BD10E0;
    border-color: inherit;
  }
}

.teaser-item__read-more {
  @extend .button;
  background: #fff;
  position: absolute;
  right: 40px;
  bottom: 50px;
  color: inherit;
}

.teaser-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.template--ernest {
	.main {
		max-width: 460px;
		margin: 0 auto;
	}

}

.text {
	position: relative;
	padding-top: 350px;
	margin-bottom: 80px;

	h1 {
		text-align: center;
		.the-hunter & { color: $blue; }
		.the-fisherman & { color: $red; }
		.the-drinker & { color: $green; }
		.the-bullfighter & { color: $purple; }
		.the-lover & { color: $turquoise; }
		.the-papa & { color: $yellow; }
	}

	p:nth-of-type(1) {
		font-size: 28px;
		line-height: 1.5;
		@include font-light;
	}

	figure {
		margin: 0;
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);

		img {
			width: 200px;
			height: 200px;
			border-radius: 100%;
		}
	}
}

.link--prev,
.link--next {
	position: absolute;
	top: 250px;
	left: 40px;
	text-decoration: none;
	color: #aaa;
	font-size: 44px;
	opacity: 0.4;

	&:hover {
		opacity: 1;
	}
}

.link--next {
	left: auto;
	right: 40px;
}

.footer {
	text-align: center;
}
